<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orca.dot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".AppConfig"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dot">

        <activity
            android:name=".welcome.WelcomeActivity"
            android:theme="@style/AppTheme.Dot.Splash"></activity>
        <activity
            android:name=".services.StylesActivity"
            android:theme="@style/AppTheme.Dot.Home" />
        <activity
            android:name=".auth.LoginSignUpActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dot.Login" />
        <activity
            android:name=".auth.EnterOTP"
            android:theme="@style/AppTheme.Dot.Login"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".auth.ProfileDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".services.Favourite" />
        <activity android:name=".services.Cart" />

        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".auth.internal.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>